<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="style.css" type="text/css" rel="stylesheet" />
    <title>Hello World</title>
  </head>
  <body>

    <div class="container">
      <h3 class="text-center">Messaging</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="mesgs">

            <div class="msg_history">
              <div id="messages">
                <message-el v-for="item in items" v-key:id="item.id" v-bind:msg="item.message" v-bind:src="item.source"></message-el>
              </div>
            </div>

            <div class="type_msg" id="form">
              <form class="input_msg_write" v-on:submit="sendMessage">
                <span>Will send : {{ message }}</span>
                <input type="text" class="write_msg" placeholder="Type a message" v-model="message" />
                <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="components-demo">
      <button-counter></button-counter>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>